*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
  font-size: 16px;
  color: white;
  font-family:'Times New Roman', Times, serif;
  overflow: hidden;

}

.overlay{
  position: fixed;
   height: 100%;
   width: 100%;
   z-index: 1;
   background-color:rgba(6, 6, 6, 0.703);
   display: none;
}

.header{

    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 10vh;
    background-color: #1E293B;
    padding-top: 20px;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}



.footer{
    margin-top: 25px;
    font-family:monospace;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    gap: 50px;
    
}
.main-container{
    display: flex;
    width: 100vw;
    min-height: 90vh;
    max-height: 90vh;

}

.editor-container,.preview-container{
      padding: 25px;
      padding-bottom: 100px;
      background-color: #475569;
      flex: 0 0 50%;
      color: rgba(255, 255, 255, 0.806);
      text-align: left;
}

textarea,.preview{
    margin: 0;
    border: 0;
    width: 100%;
    height: 95%;
    outline: 0;
    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: transparent;
    font-size: 2rem;
     color: white;
     text-align: left;
     border: 1px solid white;
     border-style:inset
}

.preview-container{
  background-color: #334155;
   max-width: 50%
}

.preview{
    line-height: 5rem;
}


.alert{
  position: fixed;
  z-index: 2;
  padding: 5px;
  top: 50%;
  left: 50%;
  background-color: rgb(214, 211, 211);
  color: black;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 183, 255, 0.71);
  display: none;
}

.alert .buttons{
   display: flex;
   flex-direction: row-reverse;
   gap: 20px;
   padding-right: 20px;
   
}

.optionbtn{
  background-color: rgb(252, 255, 254);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1px;
  border: 1px solid rgba(0, 183, 255, 0.71);
}
button{
  background-color: white;
  padding: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2rem;
  border-radius: 5px;
}



@media (max-width:500px)  {
    .header{
        font-size: 2rem;
    }
    
}
