*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    
    
}

 html{
    max-width: 100vw;
    overflow-x: hidden;
} 

body{
    background-color: rgba(241, 204, 147, 0.726);
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.heading,.footer{
    position: relative;
    max-width: 100vw;
    background-color: rgba(39, 39, 48, 0.897);
}

.alfa-slab-one-regular ,.alfa-slab-one-small{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    
  }


  .alfa-slab-one-small{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

  }
  

.title{
    position: absolute;
    left: 0;

}


.heading{
    height: 15vh;
}
.heading .container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 30px;
}

.searchbar,.sort,.toggleview-grid,.toggleview-list{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    
}
.searchbar{
    position: relative;
    height: 100%;
    width: 75%;
}


.searchbar .inputtype{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 100%;
    border: none;
    color: white;

}

.inputtype:focus{
    border: none;
    outline: none;
}


.sort,.toggleview-grid,.toggleview-list{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width:10%;
}

.sort{
    background-image: url(assets/1608702_filter_icon.svg);

    outline: none;
    border: none;
}

.toggleview-grid{
    background-image: url(assets/186402_grid_icon.svg);
   
}
.toggleview-list{
    background-image:url(assets/2849812_menu_multimedia_bars_media_icon.svg);
}

.searchbar img{
    position: absolute;
    height: 100%;
    right:0;
}


.bookspace-grid{
    position: relative;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 25px;
    width: 100vw;

}

.bookspace-list{
   
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.thumbnail{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
 
}

.grid{
    display: flex;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.footer{
    position: fixed;
    bottom:0;
    height: 5vh;
    width: 100vw;
    
}

.pagecontainer{
    
    position:absolute;
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.35);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:fit-content;
    max-width: 20%;
    height: 100%;
}


.pagecontainer::-webkit-scrollbar {
    height: 5px; 
  
}

.pagecontainer::-webkit-scrollbar-thumb {
    background-color:red;
}

.page{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    background-color: #f1933a;
    color:white;

}


    .infodiv{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:1rem;
        color: white;
        font-weight: 500;
        height: 100%;
        width: 60%;

    
    }


@media (min-width:2000px){
    .infodiv{
        font-size:2rem;
    }
    .alfa-slab-one-regular{
        font-size:6rem;
    }
    .alfa-slab-one-small{
        font-size:5rem;
    }
}



@media  (max-width:1440px){
    .infodiv{
        font-size:1rem;
    }
    .alfa-slab-one-regular{
        font-size:3rem;
    }
    .alfa-slab-one-small{
        font-size:2rem;
    }
    
}

@media  (max-width:1024px){
    .infodiv{
        font-size:0.75rem;
    }
    .alfa-slab-one-regular{
        font-size:3rem;
    }
    .alfa-slab-one-small{
        font-size:1.5rem;
    }
    .heading{
        height: 11vw;
    }
    
    .heading .container{
        width: 50%;
    }
    
}


@media  (max-width:767px){
    .infodiv{
        font-size:0.75rem;
    }
    .alfa-slab-one-regular{
        font-size:3rem;
    }
    .alfa-slab-one-small{
        font-size:1.25rem;
    }
    .heading{
        height: 12vw;
    }
    
    .heading .container{
        width: 40%;
    }
}


@media  (max-width:425px){
    .infodiv{
        font-size:0.75rem;
    }
    .alfa-slab-one-regular{
        font-size:1.25rem;
    }
    .alfa-slab-one-small{
        font-size:1rem;
    }
    .heading{
        height: 12vw;
    }
    
    .heading .container{
        transform: translate(-37.5%,-50%);
        width: 65%;
        gap: 20px;
        
}
    .thumbnail{
        height: 250px;
        width: 100%;
    }

    .grid{
        flex-direction: column;
        max-width: 100%; 
        padding:0;
        
    }

    .infodiv{
        width: 100%;
    
    }

}